@import "medidas";

html{
    width: $pan;
    height: $pan;
body{
        width: $pan;
        height: $pan;
    }
}
main{
    width: $pan;
    height: $pan;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "H . . ." ". G . M" ". . I .";
    #mozila{
        grid-area: M;
    }
    #homero{
       grid-area: H;
    }
    #instagram{
        grid-area: I;
    }
    #github{
       grid-area: G;
    }
}
 .imajen{
    max-width: $pan;
    max-height: $pan;
 }
