@media screen and (max-width: 768px) {
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
    main{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(3, 33%);
        grid-template-areas: "H . . " ". G M" ". . I";
    }
    .imajen{
        max-width: 100%;
        max-height: 100%;
     }
}

@media screen and (max-width: 375px) {
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
    main{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(3, 33%);
        grid-template-areas: "H . " ". M" "G I";
    }
    .imajen{
        max-width: 100%;
        max-height: 100%;
     }
}
