/* Con el important se puede hacer una prioridad de aplicar una propiedad */
main{
    display: flex;
    flex-direction: row;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
    width: 50px;
    background-color: darkgreen;
}
#barra{
    height: 900px;
    width: 200px;
    background-color: blue;
}
#menu{
    height: 900px;
    width: 600px;
    background-color: coral;
}
#top{
    background-color: darkgrey;
}
#topb{
    background-color: wheat;
}
.iconB{
    width: 45px;
}