/* Con el important se puede hacer una prioridad de aplicar una propiedad */
#conteiner{
    width: 400px;
    height: 400px;
    background-color: coral;
}

@media screen and (min-width: 375px) and (max-width: 768px){
    #conteiner{
        width: 200px;
        height: 200px;
        background-color: deeppink;
    }
    input{
        width: 100%;
    }
}