/* Con el important se puede hacer una prioridad de aplicar una propiedad */
main{
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-template-rows: repeat(3, 220px);
    grid-template-areas: "H . . ." ". G . M" ". . I .";
}
 .imajen{
    max-width: 300px;
    max-height: 400px;
 }
 #mozila{
     grid-area: M;
 }
 #homero{
    grid-area: H;
 }
 #instagram{
     grid-area: I;
 }
 #github{
    grid-area: G;
 }
