/* Con el important se puede hacer una prioridad de aplicar una propiedad */
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 33%);
    grid-template-areas: "H . . ." ". G . M" ". . I .";
}
 .imajen{
    max-width: 100%;
    max-height: 100%;
 }
 #mozila{
     grid-area: M;
 }
 #homero{
    grid-area: H;
 }
 #instagram{
     grid-area: I;
 }
 #github{
    grid-area: G;
 }
