/* Con el important se puede hacer una prioridad de aplicar una propiedad */
html,body { 
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}
*{
    border: 1px solid black;
}
main{
    display: flex;
    flex-direction: row;
    height: 100%; 
    margin: 0px; 
    padding: 0px; 
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%; 
    margin: 0px; padding: 0px;
    width: 8.3%;
}
#barra{
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    width: 25%;
}
#menu{
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    width: 66.6%;
}
#top{
    height: 5.5%;
}
#topb{
    height: 6.25%;
}
.iconB{
    border: none;
    display: block;
    width: 45px;
}
#Csalas{
    height: 100%; 
    margin: 0px; 
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#salas{
    height: 50%; 
    margin: 0px; 
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}