nav{
    padding: 3px;
    display: inline-block;
    width: 800px;
    background-color: rosybrown;

}
.nativo{
    display: inline-block;
    background-color: rosybrown; 
    margin: 10px;
    margin-right: 110px;
    border: solid rosybrown;
}
a{
    color: black;
    text-decoration: none;
}
p{
    display:inline-block;
    width: 400px;
}
section{
    display: block;
}
div{
    display:inline-block;
}